NodeRed Configuration/flows.json
[
    {
        "id": "1163b7670b62b181",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "885b8768e712fdc5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0ea49dfde43e934d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6659471ab7b8b44d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6879ff82f54425d4",
        "type": "ui_group",
        "name": "Weather Station",
        "tab": "0ea49dfde43e934d",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4dc3afb8f655badd",
        "type": "ui_group",
        "name": " ",
        "tab": "0ea49dfde43e934d",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "931ba3f99172f7c2",
        "type": "ui_spacer",
        "z": "1163b7670b62b181",
        "name": "spacer",
        "group": "6879ff82f54425d4",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "c922926c6d92243a",
        "type": "ui_spacer",
        "z": "1163b7670b62b181",
        "name": "spacer",
        "group": "6879ff82f54425d4",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "c297d0853f9ab5e1",
        "type": "ui_spacer",
        "z": "1163b7670b62b181",
        "name": "spacer",
        "group": "6879ff82f54425d4",
        "order": 6,
        "width": 7,
        "height": 1
    },
    {
        "id": "71acdc0d4a7fa0b4",
        "type": "ui_spacer",
        "z": "1163b7670b62b181",
        "name": "spacer",
        "group": "6879ff82f54425d4",
        "order": 8,
        "width": 7,
        "height": 1
    },
    {
        "id": "5dfa7cfe65491b01",
        "type": "ui_spacer",
        "z": "1163b7670b62b181",
        "name": "spacer",
        "group": "4dc3afb8f655badd",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "54cf16eddd836c9d",
        "type": "ui_spacer",
        "z": "1163b7670b62b181",
        "name": "spacer",
        "group": "4dc3afb8f655badd",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "64734b39abbe417a",
        "type": "ui_spacer",
        "z": "1163b7670b62b181",
        "name": "spacer",
        "group": "4dc3afb8f655badd",
        "order": 5,
        "width": 7,
        "height": 1
    },
    {
        "id": "1876bfe4822dec1d",
        "type": "ui_spacer",
        "z": "1163b7670b62b181",
        "name": "spacer",
        "group": "4dc3afb8f655badd",
        "order": 6,
        "width": 7,
        "height": 1
    },
    {
        "id": "5f13a3575f8da6d6",
        "type": "ui_spacer",
        "z": "1163b7670b62b181",
        "name": "spacer",
        "group": "4dc3afb8f655badd",
        "order": 8,
        "width": 7,
        "height": 1
    },
    {
        "id": "6eef9844f1618673",
        "type": "ui_spacer",
        "z": "1163b7670b62b181",
        "name": "spacer",
        "group": "4dc3afb8f655badd",
        "order": 9,
        "width": 7,
        "height": 1
    },
    {
        "id": "d0a59a1ea8fe75ee",
        "type": "ui_spacer",
        "z": "1163b7670b62b181",
        "name": "spacer",
        "group": "4dc3afb8f655badd",
        "order": 11,
        "width": 7,
        "height": 1
    },
    {
        "id": "e9242d4819248a34",
        "type": "ui_spacer",
        "z": "1163b7670b62b181",
        "name": "spacer",
        "group": "4dc3afb8f655badd",
        "order": 12,
        "width": 7,
        "height": 1
    },
    {
        "id": "27f3c39049b97b3b",
        "type": "mqtt in",
        "z": "1163b7670b62b181",
        "name": "",
        "topic": "Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "885b8768e712fdc5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "19cca2e2261993a7",
                "5e2f1c7405ac9493",
                "a9e26ddc61a03631"
            ]
        ]
    },
    {
        "id": "19cca2e2261993a7",
        "type": "debug",
        "z": "1163b7670b62b181",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "5e2f1c7405ac9493",
        "type": "ui_gauge",
        "z": "1163b7670b62b181",
        "name": "",
        "group": "6879ff82f54425d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#53d5fd",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "29",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "a9e26ddc61a03631",
        "type": "ui_chart",
        "z": "1163b7670b62b181",
        "name": "",
        "group": "4dc3afb8f655badd",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Température (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 370,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f394f85876d4495a",
        "type": "mqtt in",
        "z": "1163b7670b62b181",
        "name": "",
        "topic": "Hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "885b8768e712fdc5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 80,
        "wires": [
            [
                "fce76bacb25f2b8b",
                "763ff9848738d777",
                "cc6b7e3d604f13e1"
            ]
        ]
    },
    {
        "id": "fce76bacb25f2b8b",
        "type": "debug",
        "z": "1163b7670b62b181",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 80,
        "wires": []
    },
    {
        "id": "763ff9848738d777",
        "type": "ui_gauge",
        "z": "1163b7670b62b181",
        "name": "",
        "group": "6879ff82f54425d4",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#f5ec00",
            "#f5ec00",
            "#f5ec00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "cc6b7e3d604f13e1",
        "type": "ui_chart",
        "z": "1163b7670b62b181",
        "name": "",
        "group": "4dc3afb8f655badd",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidité (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "fd88abb349e71bdc",
        "type": "debug",
        "z": "1163b7670b62b181",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 360,
        "wires": []
    },
    {
        "id": "7ac576b03d86bbf6",
        "type": "mqtt in",
        "z": "1163b7670b62b181",
        "name": "",
        "topic": "Press",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "885b8768e712fdc5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "ae92cdd109b461ae",
                "f4488a79b019c2a6",
                "fd88abb349e71bdc"
            ]
        ]
    },
    {
        "id": "0c3a6eccc9f6c52b",
        "type": "debug",
        "z": "1163b7670b62b181",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "f4488a79b019c2a6",
        "type": "ui_gauge",
        "z": "1163b7670b62b181",
        "name": "",
        "group": "6879ff82f54425d4",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pression",
        "label": "hPa",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#74a7fe",
            "#74a7fe",
            "#74a7fe"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 340,
        "y": 420,
        "wires": []
    },
    {
        "id": "ae92cdd109b461ae",
        "type": "ui_chart",
        "z": "1163b7670b62b181",
        "name": "",
        "group": "4dc3afb8f655badd",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Pression (hPa)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "950",
        "ymax": "1050",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "054808debc7d2303",
        "type": "mqtt in",
        "z": "1163b7670b62b181",
        "name": "",
        "topic": "Lum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "885b8768e712fdc5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "7b6c3c76b4c0ec69",
                "7bc39ba4bfe2e6bc",
                "0c3a6eccc9f6c52b"
            ]
        ]
    },
    {
        "id": "7bc39ba4bfe2e6bc",
        "type": "ui_gauge",
        "z": "1163b7670b62b181",
        "name": "",
        "group": "6879ff82f54425d4",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luminosité",
        "label": "Lux",
        "format": "{{value}}",
        "min": "0",
        "max": "60000",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "7b6c3c76b4c0ec69",
        "type": "ui_chart",
        "z": "1163b7670b62b181",
        "name": "",
        "group": "4dc3afb8f655badd",
        "order": 10,
        "width": 0,
        "height": 0,
        "label": "Luminosité",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "616c47375a5ce7c4",
        "type": "debug",
        "z": "1163b7670b62b181",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 640,
        "wires": []
    },
    {
        "id": "102596393b974df6",
        "type": "mqtt in",
        "z": "1163b7670b62b181",
        "name": "",
        "topic": "Batt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "885b8768e712fdc5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 640,
        "wires": [
            [
                "616c47375a5ce7c4",
                "e577b212992525de",
                "2928a51b808fbcf5"
            ]
        ]
    },
    {
        "id": "e577b212992525de",
        "type": "ui_gauge",
        "z": "1163b7670b62b181",
        "name": "",
        "group": "6879ff82f54425d4",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Batterie",
        "label": "V",
        "format": "{{value}}",
        "min": "3.3",
        "max": "4.2",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 340,
        "y": 700,
        "wires": []
    },
    {
        "id": "2928a51b808fbcf5",
        "type": "ui_chart",
        "z": "1163b7670b62b181",
        "name": "",
        "group": "4dc3afb8f655badd",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Batterie",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "3.3",
        "ymax": "4.2",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 340,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "3d1175f9387f9001",
        "type": "debug",
        "z": "1163b7670b62b181",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 640,
        "wires": []
    },
    {
        "id": "a96a50859cd55d41",
        "type": "mqtt in",
        "z": "1163b7670b62b181",
        "name": "",
        "topic": "BattP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "885b8768e712fdc5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 640,
        "wires": [
            [
                "3d1175f9387f9001",
                "71938a5abc24c618",
                "cd1314e8ef088849"
            ]
        ]
    },
    {
        "id": "71938a5abc24c618",
        "type": "ui_gauge",
        "z": "1163b7670b62b181",
        "name": "",
        "group": "6879ff82f54425d4",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Batterie",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 700,
        "wires": []
    },
    {
        "id": "cd1314e8ef088849",
        "type": "ui_chart",
        "z": "1163b7670b62b181",
        "name": "",
        "group": "4dc3afb8f655badd",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Batterie",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 760,
        "wires": [
            []
        ]
    }
]